:root {
    --color-white: #f7f7f7;
    --color-gray: #777;
    --color-black: black;
    --color-blue: #3c8dbc;
    --color-green: #158654;
    --color-green-2: #00a65a;
    --color-gray-2: #222d32;
    --color-gray-hover: #1e282c;
    --color-gray-icons: #b8c7ce;
    --color-gray-3: #1a2226;
    --color-gray-body: #ecf0f5;
    --space-10: 10px;
    --space-15:15px;
    --font-size:15px;
    --border: 1px solid red;
    --font: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial",
      "sans-serif";
  }
body{
    background-color: var(--color-gray-body);
}
/* titulo */
.title_compra{
    padding: 0px;
    height: 50px;
    /* border: var(--border); */
    display: flex;
    align-items: center;
}

.texto{
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 24px;
    position: relative;
    top: 9px;
    margin-right: 10px;
}
.fa-edit {
    color: #333333;
    font-size: 25px;
     font-weight: 100;
     margin: 20px;
     position: relative;
     left: 12px;
     top: 6px;
}
/* /titulo */

/* container de la gestion de compra */
.container_compra{
    height: 400px;
    margin: var(--space-15);
    background-color: white;
    border-top: 3px solid #d2d6de;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
/* /container de la gestion de compra */
.title_registro{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    height: 50px;
    display: flex;
    align-items: center;
   
}
.title_registro .pi{
  font-size: 17px;
  position: relative;
  top: 8px;
  margin-left: 10px;
}
.detalles_compra{
  height: 150px;
  border-top: 3px solid #00c0ef;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  margin: 15px;
}
.detalles_compra .pi{
    font-size: 17px;
    padding: 12px;
    position: relative;
    top: 8px;
    margin-left: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);

   

}
.datos_compra{
    height: 70px;
      /* border: var(--border); */
  display: block;
  padding-left: 20px;
  /* background-color: #00a65a; */
  
}

.buscar{
    width: 359px;
    height: 30px;
    border: 1px solid #d2d6de;
    /* position: relative;
    top: -15px; */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    /* text-align: center; */
    float: left;
    margin-left: 0px;
    line-height: 15px;
    border-left: none;
}

.buscar input{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 359px;
    height: 30px;
    border: 1px solid #d2d6de;
    position: relative;
    top: -40px;
    border-left: none;
    line-height: 15px;
}
.datos_compra p{
    font-weight: bold;
}
.block{
    display: block;
    height: 20px;
    margin-bottom: 5px;
}
.boton_buscar{
    border-right: none;
    right: 754px;
    height: 31px;
    border: 1px solid #d2d6de;
    background-color: #e7e7e7;
    font-family: var(--font);
    font-size: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    float: left;
}
.fa-plus{
    margin: 0 5px 0 5px;
    cursor: pointer;
}
.calendario{
    width: 150px;
    height: 30px;
    margin-left: 70px;
    background-color: #e7e7e7;
    border: 1px solid #d2d6de;
    float: left;
}
/* estilos de el popup */
.overlay{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.overlay.active{
    visibility:visible; 
}
.popup{
    background: #ffffff;
    width: 600px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.4);
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 18px;
    font-weight: 500;
    
}
.popup_title{
    display: flex;
    justify-content: space-between;
}
.itemUno{
    display: flex;
    /* background-color: #00a65a; */
    /* width: 500px; */
    margin-left: 33px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    
}
.item input{
    width: 400px;
    height: 40px;
    margin-left: 10px;

}
.itemDos{
    display: flex;
    /* background-color: #00a65a; */
    /* width: 500px; */
    /* margin-left: 50px; */
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;

}

.itemTres{
    display: flex;
    /* background-color: #00a65a; */
    /* width: 500px; */
    margin-left: 18px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    
}
.itemCuatro{
    display: flex;
    /* background-color: #00a65a; */
    /* width: 500px; */
    margin-left: 27px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.submit_container{
    display: flex;
    justify-content: flex-end;
    margin: 0 10px 0 10px ;
}
.submit{
    background-color: #f4f4f4;
    height: 50px;
    width: 120px;
    color: #444;
    border-color: #ddd;
    border: none;
    margin: 0 10px 0 10px ;
}
.submit.cancelar{
    background-color:#367fa9;
    color: var(--color-white);
}