:root {
  --color-white: #f7f7f7;
  --color-gray: #777;
  --color-black: black;
  --color-blue: #3c8dbc;
  --color-green: #158654;
  --color-green-2: #00a65a;
  --color-gray-2: #333;
  --color-gray-3: #1a2226;
  --space: 10px;
  --border: 1px solid black;
  --font: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial",
    "sans-serif";
}

/* menu */

.container_nav .menu {
  width: 300px;
  height: 900px;
  background: var(--color-gray-2);
  float: left;
 
}
.title {
  height: 60px;
  background: var(--color-green);
  display: flex;
  justify-content: center;

}
.title a {
  color: var(--color-white);
  text-decoration: none;
  font-family: var(--font);
  font-size: 25px;
  text-align: center;
  margin-top: 11.3px;
}
.profile_nav{
    /* border:1px solid var(--color-white); */
    display: flex;
}
.profile_user_nav{
    
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 10px 15px 10px 15px;
    background-image: url("../css/img.jpg");
    background-size: cover;
}
.name_nav p{
    /* border:1px solid var(--color-white); */
    align-items: center;
    margin:18px 0 5px 10px; 
    color: var(--color-white);
    font-family: var(--font);
    font-size: 20px;
}
.space {
    height: 50px;
    background-color: var(--color-gray-3);
    color: #4b646f;
    font-size: 15px;
    padding-top: 12px;
    padding-left: 10px;
}
/* /menu */
#menu ul li {
    background-color:#030b16;
}

#menu ul {
    list-style:none;
    margin:0;
    padding:0;
}

#menu ul a {
    display:block;
    color:#fff;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:10px;
  text-transform:uppercase;
}

#menu ul li {
    position:relative;
    margin:0;
    padding:0;
}

#menu ul li:hover {
    background:#5b78a7;
    display: block;
}

#menu ul ul {
    position:absolute;
    top:100%;
    left:0;
    padding:0;
}

#menu ul ul li {
    width:150px
}

#menu ul ul a {
    line-height:120%;
    padding:10px 15px;
}

#menu ul li:hover > ul {
    display:block;
}

/* header */
header {
  height: 60px;
  background: var(--color-green-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box{
    width: 20px;
    height: 20px;
    border:1px solid var(--color-white);
    margin-left: 10px;
}
.profile_user{
    width: 200px;
    height: 40px;
    /* border:1px solid var(--color-white); */
    margin-right: 10px;
    display: flex;
}

.container_user :hover {
    background-color: var(--color-green);
}
.profile{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    /* border:1px solid var(--color-white); */
    background-image: url("../css/img.jpg");
    background-size: cover;
}
.name{
    /* border:1px solid var(--color-white); */
    align-items: center;
    margin:5px 0 5px 10px; 
    color: var(--color-white);
    font-family: var(--font);
    font-size: 15px;
}

/* /header */